.newtabmenu ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.newtabmenu li {
  float: left;
  margin-right: 0;
  text-align: center;
  border-right: 1px solid #ddd;
}

.newtabmenu a:link,
.newtabmenu a:visited {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-image: url(images/tab-inactive-bg.png);
  background-repeat: repeat-x;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  height: 24px;
  line-height: 20px;
  text-decoration: none;
  padding-top: 5px;
}

.newtabmenu a span {
  display: block;
  display: inline-block;
  height: 24px;
  padding-left: 7px;
  padding-right: 7px;
}

.newtabmenu a:hover {
  display: block;
  color: #666;
  display: inline-block;
}

.newtabmenu a:hover span {
  display:block;
  display: inline-block;
}

.newtabmenu_active a:link,
.newtabmenu_active a:visited,
.newtabmenu_active a:visited,
.newtabmenu_active a:hover {
  background-image: url(images/tab-active-bg.png);
  background-repeat: repeat-x;
  color: #fff;
}