/bin
/usr/bin
/usr/local/bin/*
boot/
cf/
conf
conf.default/
dev/
home/
kernels/
lib/
libexec/
mnt/
root/
sbin/
tmp/
var/
usr/sbin/
usr/lib/
usr/libexec/
usr/obj/
usr/share/
usr/local/lib/
usr/local/libexec/
usr/local/libdata/
usr/local/man/
usr/local/info/
usr/local/share/
usr/X11R6/
boot.config
etc/opiekeys
usr/local/www/csrf/csrf-secret.php
etc/crontab
etc/ttys
etc/master.passwd
etc/set_password
etc/spwd.db
usr/local/captiveportal/pages/img/captiveportal-nuclewall
usr/local/www/pages/img/captiveportal-nuclewall
usr/local/captiveportal/pages/hotspot.html
usr/local/captiveportal/pages/hotspot_err.html
usr/local/captiveportal/pages/hotspot_mobile.html
usr/local/captiveportal/pages/hotspot_mobile_err.html
usr/local/captiveportal/pages/js/captiveportal-locale-mobile.js
usr/local/captiveportal/pages/js/captiveportal-locale.js
usr/local/www/hotspot.html
usr/local/www/hotspot_err.html
usr/local/www/hotspot_mobile.html
usr/local/www/hotspot_mobile_err.html
usr/local/www/pages/js/captiveportal-locale-mobile.js
usr/local/www/pages/js/captiveportal-locale.js
!/usr/local/bin/dhcp_logger
!/usr/local/bin/log_signer
!/usr/local/bin/log_rotater
!/usr/local/bin/blacklist_updater
!/usr/local/bin/*.sh
